	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css">
	<link rel="stylesheet" type="text/css" href="/docs.maxcdn.com/css/docs.min.css">
	
	<link rel="stylesheet" type="text/css" href="/docs.maxcdn.com/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/docs.maxcdn.com/css/docs.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{ "/docs.maxcdn.com/css/prettify.min.css">
	<link rel="stylesheet" type="text/css" href="{{ "/css/prettify.min.css" | prepend: site.baseurl }}">
	<!--fonts-->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,300italic">
