<div class="span3">
	<div id="docs-navbar" data-spy="affix" data-offset-top="102">
		<div class="row">
			<div class="span3">
				<ul class="nav nav-pills nav-stacked">
					<li><a href="#overview">Overview</a></li>
					<li><a href="#support" class="gotohash">Support</a></li>
					<li><a href="#changelog" class="gotohash">Changelog</a></li>
					<li><a href="#authentication" class="gotohash">Authentication</a></li>
					<ul class="nav-bold nav-down hide">
						<li class="nav-sub"><a href="#auth-overview" class="gotohash">Overview</a></li>
						<li class="nav-sub"><a href="#3-legged-oauth" class="gotohash">3-legged OAuth</a></li>
						<li class="nav-sub"><a href="#2-legged-oauth" class="gotohash">2-legged OAuth</a></li>
						<li class="nav-sub"><a href="#registering-your-application" class="gotohash">Registering Your Application</a></li>
						<li class="nav-sub"><a href="#signing-requests" class="gotohash">Signing Requests</a></li>
						<li class="nav-sub"><a href="#request-tokens" class="gotohash">Request Tokens</a></li>
						<li class="nav-sub"><a href="#user-authorization" class="gotohash">User Authorization</a></li>
						<li class="nav-sub"><a href="#key-path-parameters" class="gotohash">Key: Path Parameters</a></li>
					</ul>

					<li><a href="#account-api" class="gotohash"><span id="iconSizer"><i class="fa fa-maxcdn"></i></span> Account API</a></li>
					<ul class="nav-bold nav-down hide">
						<li class="nav-sub"><a href="#get-account" class="gotohash">Get Account</a></li>
						<li class="nav-sub"><a href="#update-account" class="gotohash">Update Account</a></li>
						<li class="nav-sub"><a href="#get-account-address" class="gotohash">Get Account Address</a></li>
						<li class="nav-sub"><a href="#update-account-address" class="gotohash">Update Account Address</a></li>
					</ul>
					<li>
						<a href="#users-api" class="gotohash">
						<span id="iconSizer"><i class="fa fa-user"></i></span> Users API</a>
					</li>
					<ul class="nav-bold nav-down hide">
						<li class="nav-sub"><a href="#list-users" class="gotohash">List Users</a></li>
						<li class="nav-sub"><a href="#create-user" class="gotohash">Create User</a></li>
						<li class="nav-sub"><a href="#get-user" class="gotohash">Get User</a></li>
						<li class="nav-sub"><a href="#update-user" class="gotohash">Update User</a></li>
						<li class="nav-sub"><a href="#delete-user" class="gotohash">Delete User</a></li>
					</ul>

					<li><a href="#zones-api" class="gotohash"><span id="iconSizer"><i class="fa fa-cloud"></i></span> Zones API</a></li>
					<ul class="nav-bold nav-down hide">
						<li class="nav-sub"><a href="#list-zones" class="gotohash">List Zones</a></li>
						<li class="nav-sub"><a href="#get-zone-summary" class="gotohash">Get Zone Summary</a></li>
						<li class="nav-sub"><a href="#get-zone-count" class="gotohash">Get Zone Count</a></li>
						<li class="nav-sub"><a href="#pull-zone-api" class="gotohash">Pull Zone API</a></li>
						<li class="nav-sub"><a href="#pull-zone-custom-domains-api" class="gotohash">Pull Zone Custom Domains API</a></li>
						<li class="nav-sub"><a href="#push-zone-api" class="gotohash">Push Zone API</a></li>
						<li class="nav-sub"><a href="#push-zone-custom-domains-api" class="gotohash">Push Zone Custom Domains API</a></li>
						<li class="nav-sub"><a href="#vod-zone-api" class="gotohash">VOD Zone API</a></li>
						<li class="nav-sub"><a href="#vod-zone-custom-domains-api" class="gotohash">VOD Zone Custom Domains API</a></li>
						<li class="nav-sub"><a href="#zones-ssl-api" class="gotohash">Zones SSL API</a></li>
						<li class="nav-sub"><a href="#zones-upstream-api" class="gotohash">Zones Upstream API</a></li>
					</ul>
					<li><a href="#reports-api" class="gotohash">
						<span id="iconSizer"><i class="fa fa-signal"></i></span> Reports API</a>
					</li>
					<ul class="nav-bold nav-down hide">
						<li class="nav-sub"><a href="#get-account-stats" class="gotohash">Account Stats</a></li>
						<li class="nav-sub"><a href="#get-all-zone-stats" class="gotohash">Stats for all Zones</a></li>
						<li class="nav-sub"><a href="#get-a-zones-stats" class="gotohash">Stats for a Zone</a></li>
						<li class="nav-sub"><a href="#reports-by-location-api" class="gotohash">Reports by Location API</a></li>
						<li class="nav-sub"><a href="#reports-by-popular-files-api" class="gotohash">Reports by Popular Files API</a></li>
						<li class="nav-sub"><a href="#reports-by-status-codes-api" class="gotohash">Reports by Status Codes API</a></li>
						<li class="nav-sub"><a href="#reports-by-file-types-api" class="gotohash">Reports by File Types API</a></li>
						<li class="nav-sub"><a href="#reports-by-file-size-ranges-api" class="gotohash">Reports by File Size Ranges API</a></li>
						<li class="nav-sub"><a href="#reports-by-directory-api" class="gotohash">Reports by Directory API</a></li>
					</ul>

					<li><a href="#raw-logs-api" class="gotohash">
					<span id="iconSizer"><i class="fa fa-archive"></i></span> Raw Logs API</a></li>
					<li><a href="#origin-shield-api" class="gotohash">
					<span id="iconSizer"><i class="fa fa-shield"></i></span> Origin Shield API</a></li>
					<li><a href="#ssl-certificate-api" class="gotohash">
					<span id="iconSizer"><i class="fa fa-key"></i></span> SSL API</a></li>
					<li><a href="https://github.com/maxcdn/api-docs">
					<span id="iconSizer"><i class="fa fa-external-link"></i></span> GitHub Repo</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
