<html>
<head>
	{% include header.html %}
	{% include includes.html %}
</head>

<body data-spy="scroll" data-target="#docs-navbar" data-offset="83">
	<div id="spacer">
	</div>

<!--Navbar-->
<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a href="/" class="brand"></a>
				<ul class="nav pull-right">
					<li><a href="http://reseller-docs.maxcdn.com">Reseller API Docs</a></li>
					<li><a href="/">API Docs</a></li>
					<li><a href="http://www.maxcdn.com">MaxCDN.com</a></li>
				</ul>
			</div>
		</div>
	</div>
<!--/Navbar-->

	{% include navbar.html %}

<div class="pageTitle">API Docs</div>

<!--Content start-->
<div class="container">
	<div class="row">
		{% include sidebar.html %}

	<!--span9-->
		<div id="readme-docs" class="span9">
			<h1 id="maxcdn-api-docs"><a name="maxcdn-api-docs" id="maxcdn-api-docs">MaxCDN API Docs</a></h1>
			<p><a href="http://www.maxcdn.com">MaxCDN</a> is a Content Delivery Network service.</p>
			{{ content }}
		</div> <!--/span9-->

	</div> <!--/row-->
</div> <!--/container-->

{% include footer.html %}

</body>
</html>
